
/* Your CSS Code here. */

.holder{
  display: grid;
  width: 200px;
  height: 200px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
	
}

.item-1, .item-2, .item-3, .item-4 {
  border: 1px solid black;
  /* Other individual properties of items */
}